<nav class="navbar">
  <div class="navbar-intro">
    <div class="navbar-logo">
      <img src="images/student.jpg" alt="studentFilesLogo">
    </div>
    <div class="navbar-name">
      Student Files
    </div>
  </div>
  <div class="navbar-content">
    Welcome!
  </div>
  <ul class="navbar-actions">
    <li><button type="button" mat-flat-button>Home</button></li>
    <li><button type="button" mat-flat-button>About</button></li>
    <li><button type="button" mat-flat-button>Sign In</button></li>
  </ul>
</nav>