<nav class="navbar">
  <div class="navbar-intro">
    <div class="navbar-logo">
      <img src="images/student.jpg" alt="studentFilesLogo" />
    </div>
    <div class="navbar-name">Student Files</div>
  </div>
  <div class="navbar-content">
    {{signedInUserRole === '' ? 'Welcome!' : `Welcome, ${signedInUserRole | userRole}!`}}
  </div>
  <ul class="navbar-actions">
    <li *ngIf="signedInUserRole === ''">
      <button type="button" mat-flat-button (click)="onSignInClicked()">
        Sign In
      </button>
    </li>
    <li *ngIf="signedInUserRole !== ''">
      <button type="button" mat-flat-button (click)="onSignOutClicked()">
        Sign Out
      </button>
    </li>
    <li *ngIf="signedInUserRole === 'ADMIN'">
      <a mat-button routerLink="/admin/dashboard">Admin Dashboard</a>
    </li>
    <li *ngIf="signedInUserRole === 'PROFESSOR'">
      <a mat-button routerLink="/professor/dashboard">Professor Dashboard</a>
    </li>
    <li *ngIf="signedInUserRole === 'STUDENT'">
      <a mat-button routerLink="/student/dashboard">Student Dashboard</a>
    </li>
  </ul>
</nav>
