<div class="student-dashboard-container">
  <div class="header">
    <h4>Your completed courses</h4>
  </div>

  <div class="grade-table">
    <table>
      <thead>
        <tr>
          <th>Course #Id</th>
          <th>Course Name</th>
          <th>Grade</th>
          <th>Date</th>
          <th>Graded by</th>
        </tr>
      </thead>
      <tr>
        <td>CS 101</td>
        <td>Course 1</td>
        <td>6</td>
        <td>03.10.2025</td>
        <td>Me, Myself and I</td>
      </tr>
    </table>
  </div>
</div>
